.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.venv/**
.nox/**
# Exclude most .github files but keep LICENSE
.github/development.md
.github/CONTRIBUTING.md
.github/INSTALL.md
.github/CODE_OF_CONDUCT.md
.github/SECURITY.md
.github/SUPPORT.md
**/__pycache__/**
**/.pyc
bundled/libs/bin/**
noxfile.py
.pytest_cache/**
.pylintrc
**/requirements.txt
**/requirements.in
**/tool/_debug_server.py
